/*
  Created on 9/16/2022
  by Anh Cao
  
  This Component is bootstrapped from .templates/Component
*/

.pokemon-stats{
  display: inline-block
}

.stats-heading{
  width: 100px;
  text-align: right;
}